<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">device</h1>
    <a routerLink="/add-device" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Add</a>
  
</div>





<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">all devices</h6>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Notes</th>
                    <th>DataLogger</th>
                    <th>TypeReseau</th>
                    <th>Status</th>
                    <th>Action</th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item2 of  listdevice ">
                    <td>{{ item2.Id }}</td>
                    <td>{{ item2.Name }}</td>
                    <td>{{ item2.Notes }}</td>
                    <td>{{ item2.DataLogger }}</td>
                    <td>{{ item2.TypeReseau }}</td>
                    <td>{{ item2.Status }}</td>
                    <td>
                            
  
                      
                        <div class="example-button-container">
                            <button style="margin-right: 12%" mat-mini-fab color="warn" (click)="openDialog(item2.$key)">
                              <mat-icon>delete</mat-icon></button>
                            <button mat-mini-fab color="green" (click)="edit(item2.$key)" > 
                                <mat-icon>edit</mat-icon>
                            </button> 
                           
                          </div>
                           </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
